DB_HOST=dgputt-db.croa6cw8qdeh.us-west-2.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=your_password
DB_NAME=dg_dubs

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_me

SECRET_KEY=change-me-in-production
